@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #8C8880, #594636);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d02027c;  
}

h1{
    color: #594636;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.801);
}

h2{
    color: #8C8880;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.801);
    
}