*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}
main{
    width: 30%;
    background-color: antiquewhite;
    margin: auto;
    padding: 30px;
}

hr{
    border: 1px solid black;
    margin: 20px 0;
}

header{
    background-color: antiquewhite;
    text-align: center;
    position: sticky;
    top: 0px;
    width: 30%;
    margin: auto;
    padding: 30px;
}